.intro {
  padding: 30px 0 0;
  background-color: var(--section-alternate-background, #F9F4FF);
  display: grid;
  gap: 20px;
}

.intro-promo {
  display: grid;
  gap: 20px;
}

.intro-promo__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
}

.intro-promo__textblock {
  padding-right: 5px;
}

.intro-promo__title {
  margin-block-end: 15px;
  font-size: var(--font-size-xxl);
}

.intro-promo__text {
  margin-block-end: 15px;
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 150%;
  letter-spacing: -0.02em;
}

.intro-promo__text:last-of-type {
  margin-block-end: 10px;
}

.intro-promo__price {
  opacity: 0.5;
  font-size: var(--font-size-xs);
}

.intro-promo__imgblock {
  display: flex;
  justify-content: end;
  align-items: center;
}

.intro-promo__img {
  width: 100%;
}

@media screen and (width >= 768px) {
  .intro {
    padding: 60px 30px 0;
    gap: 30px;
  }

  .intro-promo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .intro-promo__content {
    padding: 0;
  }

  .intro-promo__textblock {
    padding-right: 25px;
  }

  .intro-promo__title {
    margin-block-end: 20px;
  }

  .intro-promo__button {
    width: fit-content;
  }

  .intro-promo__img {
    height: 360px;
    object-fit: contain;
  }
}

@media screen and (width >= 1024px) {
  .intro {
    padding: 20px 30px 0;
    gap: 20px;
  }

  .intro-promo {
    gap: 30px;
  }

  .intro-promo__content {
    justify-content: center;
  }

  .intro-promo__textblock {
    padding-right: 0;
  }

  .intro-promo__title {
    margin-block-end: 30px;
  }

  .intro-promo__img {
    height: 100%;
  }
}

@media screen and (width >= 1440px) {
  .intro {
    padding: 0 120px;
    gap: 0;
  }

  .intro-promo__img {
    width: calc(100% - 25px);
  }
}