.slider-parners {
  position: relative;
  padding: 30px 15px;
  overflow: hidden;
}

.slider-parners::before,
.slider-parners::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    pointer-events: none;
}

.slider-parners::before {
  left: 0;
  background: linear-gradient(90deg, var(--section-alternate-background) 0%, rgba(255,255,255,0) 100%);
}

.slider-parners::after {
  right: 0;
  background: linear-gradient(270deg, var(--section-alternate-background) 0%, rgba(255,255,255,0) 100%);
}

.slider-parners__list {
  display: flex;
  gap: 50px;
  animation: slide 60s linear infinite;
  inline-size: max-content;
  block-size: 40px;
}

.slider-parners__item {
  display: flex;
  align-items: center;
  gap: 15px;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.slider-parners__icon {
  inline-size: 40px;
  block-size: 40px;
}

.slider-parners__name {
  font-weight: 600;
  font-size: var(--font-size-s);
  line-height: 150%;
  letter-spacing: -0.02em;
}

@media screen and (width >= 768px) {
  .slider-parners {
    padding: 30px 0;
  }
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-50% - 25px));
  }
}