@import url('../vendor/globals.css');
@import url('../vendor/fonts.css');
@import url('../vendor/variables.css');

.button {
  position: relative;
  border: none;
  border-radius: 8px;
  padding: 20px 30px;
  overflow: hidden;
  color: var(--accent-color);
  background: #6F2DC21A;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.button:not(.button--accent):hover {
  background: #702dc235;
}

.button--accent {
  color: #fff;
  background: linear-gradient(to right, #A965ED, #FA71CD);
}

.button__text {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.button--accent::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  background-color: #A965ED;
  transition: opacity 0.3s ease-in-out;
}

.button--accent:hover::before {
  opacity: 1;
}

.text {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

/* --------------- header --------------- */

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  padding: 14px 120px;
  background-color: var(--accent-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.nav__logo-link {
  display: flex;
  align-items: center;
  gap: 8.3px;
}

.nav__logo-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
}

.nav__menu-list {
  display: flex;
  gap: 40px;
}

.nav__menu-item {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.nav__menu-item:hover {
  color: #FFFFFF99;
}

.nav__menu-item:hover .arrow {
  transform: rotate(180deg);
}

.nav__menu-text {
  font-size: 14px;
}

.nav__menu-icon {
  transition: transform 0.3s;
}

.nav__utility {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav__login-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 8px;
  padding: 5px 8px 6px 10px;
  background-color: #FFFFFF26;
  cursor: pointer;
}

/* --------------- main --------------- */

.main {
  padding-bottom: 150px;
  /* padding: 5px 120px 89px; */
  font-family: 'Inter', sans-serif;
}


/* --------------- intro --------------- */

.intro {
  padding: 5px 120px 0;
  background-color: #F9F4FF;
}

.main-promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.main-promo__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.main-promo__title {
  margin-block-end: 30px;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.main-promo__text {
  margin-block-end: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.main-promo__text:last-of-type {
  margin-block-end: 10px;
}

.main-promo__button {
  width: fit-content;
}

.main-promo__price {
  opacity: 0.5;
  font-size: 16px;
}

.main-promo__imgblock {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------- benefits --------------- */

.benefits {
  padding: 50px 120px 0;
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid #0000001A;
  padding-right: 30px;
  padding-left: 30px;
}

.benefits__title {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.benefits__text {
  display: flex;
  flex-direction: column;
}

/* --------------- tariffs --------------- */

.tariffs {
  padding: 200px 120px 89px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tariffs__title {

}