@import url('../vendor/globals.css');
@import url('../vendor/fonts.css');
@import url('../vendor/variables.css');
@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/button.css');

/* Общие элементы страницы */

.title {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.text {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@media screen and (width >= 1024px) {
  .responsive-line-break {
    display: block;
  }
}